@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px 0;
}

.container {
  max-width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: rgb(13, 7, 20);
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* Total scrollbar width */
::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* color of the track */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* color of the handle */
  border-radius: 6px;
  /* roundness of the handle */
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  
  /* color when hovered */
}


.todo__block {
  background-color: #1D1825;
  padding: 50px 65px 55px 65px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 60px;
}

.done__todo__list__title,
.todo__list__title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}

#input {
  width: 380px;
  border: 1px solid rgb(158, 120, 207);
  border-radius: 10px;
  padding: 11px 15px 10px 15px;
  background-color: transparent;
  margin-right: 11px;
  color: #fff;
  font-size: 0.9rem;
}

.todo__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.todo__form button {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background: rgb(158, 120, 207);
  position: relative;
}

.todo__form button:before {
  content: url("/src/assets/add.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.todo__item__text {
  color: rgb(158, 120, 207);
  line-height: 19px;
}

.todo__list__box, .done__todo__list__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
}

.todo__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 22px 20px 22px 21px;
  border-radius: 10px;
  background: rgb(21, 16, 28);
}

.todo__item__btnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
}

.todo__item__btnBox button {
  border: none;
  background: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
}

.todo__item__btnBox button:before {
  content: url("/src/assets/check.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.todo__item__btnBox button:nth-child(2):before {
  content: url("/src/assets/trash.svg");
}

.done__todo__list__item {
  border-radius: 10px;
  padding: 28px 22px;
  background: rgb(21, 16, 28);
}

.done__todo__item__text {
  color: rgb(120, 207, 176);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
}

@media screen and (max-width: 610px) {
  .todo__block {
    margin-bottom: 300px;
  }
}

@media screen and (max-width: 450px) {
  #root {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }

  .todo__block {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=main.css.map */